.info {
    margin-top: 5%;
    margin-left: 17%;
    width: 65%;
    font-size: 20pt;
    font-variant: small-caps;
    font-weight: bold;
    background: linear-gradient(45deg, #313131, #8a8a8a);
    border-bottom: solid rgb(255, 255, 255) 3px;
    border-radius: 30px;
}

.header-info {
    width: 100%;
    font-size: 35pt;
    font-variant: small-caps;
    font-weight: bold;
    background: linear-gradient(45deg, #313131, #8a8a8a);
    border-bottom: solid rgb(255, 255, 255) 3px;
    border-top: solid rgb(255, 255, 255) 3px;
    border-radius: 30px;
    text-align: center;
}
.input-Width{
    width: 10%;
    margin-bottom: 1%;
}
.center{
    text-align: center;
}